.navbar {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: end;
  }

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.navbar ul li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.navbar a:hover {
  background-color: #555;
  border-radius: 5px;
  transition: 0.3s;
}

.navbar a.active {
  background-color: #555;
  border-radius: 5px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  
  img{
    width: 350px;
    height: 350px;
    border-radius: 300px;
  }
}

.about-container {
  display: flex;
  gap: 45px;
  padding: 30px;
}

.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 500px;
  text-align: center;
  background-color: black;
  transition: background-color 0.3s ease;
}

.about-item:hover {
  color: black;
  background-color: #333;
}

.about-item.selected {
  color: black;
  background-color: #333;
}

/* Fullscreen overlay for details */
.about-details {
  position: fixed; /* Cover entire screen */
  top: 0;
  left: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
  color: whitesmoke;
  z-index: 100; /* Ensure it is above other elements */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow-y: auto; /* In case the content is too long */
  border-radius: 0; /* Remove any border-radius for full screen effect */
  transition: opacity 0.5s ease; /* Fade-in effect */
}

/* Close button styling */
.about-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 101;
}

.about-button:hover {
  background-color: #504f4f;
}

/* Media query for small screens */
@media (max-width: 450px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-item {
    width: 100%; /* Ensure the items take the full width */
    max-width: 100%; /* Prevent overflow */
  }

  .about-details {
    padding: 10px;
  }

  .about-details p {
    color: #ccc; /* Style for the expanded content text */
    margin-top: 10px;
  }
}
